.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sel {

}

.form {
  font-size: 1.8vh;
  font-weight: bold;
}

.res {
  font-size: 1.6vh;
  font-weight: bold;
}

.sub {
}

.sub:link,
.sub:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.sub:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.sub:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.sub-white {
  margin: 20px;
  width: min-content;
  font-size: 1.6vh;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ff8c28;
  border-width: 0;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.sub::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.sub-white::after {
  background-color:  #ff8e2b;
}

.sub:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.sub-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

option {
  font-size: large;
  font-weight: bold;
}

.head {
  font-size: 2.6vw;
  height: 5vh;
}
